.connection{
    /* background: url('../../../public/video/Royalty.mp4'); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

h1{
    font-weight: bolder;
    font-family: 'Aref Ruqaa Ink', serif;
    text-decoration-line: underline;
}

.card{
    width: 40%;
    border: transparent;
    padding-top: 3rem;
    text-align: start;
}

.registration .card form{
    display: flex;
    flex-direction: column;
}

.form-control:focus{
    border: transparent;
}